# Editor backups
*~
#*#

#output binary
a.out
sim

# GCC generated dependency file list
*.d

# etags and cscope cache
TAGS
cscope.files
cscope.in.out
cscope.out
cscope.po.out

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

